html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: block;
  margin: auto;
  width: 80%;
  background-color: #efefef; 
  height: 100%;
  padding: 10px;
}

.row {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.f1 {
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.f2 {
  flex: 2;
  margin: 5px;
  padding: 5px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.underline {
  text-decoration: underline;
}

.tab-btn {
  position: relative;
  font-size: 24px;
  border: solid lightblue 1px;
  cursor: pointer;
  padding: 5px;
  background-color: #dedede;

}

.tab-btn:hover {
  background-color: #cdcdcd;
  border: solid rgb(115, 189, 214) 1px;
}